* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}
main {
  width: 100vw;
}

/* split styles */
.gutter {
  background-color: #ebe0e0;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
  width: 100%;
}

/* editor styles */
.editor {
  width: 80%;
  height: 100vh;
}
.sidebar {
  width: 20%;
}

.pane {
  overflow-y: hidden;
  /* padding: 10px; */
}

.quill {
  height: 100%;
}

/* .ql-toolbar{
  position: fixed;
  box-shadow: 5px 5px 5px gray;
} */

/* side bar header styles */
.sidebar--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar--header > h3 {
  font-size: 1.75rem;
}

/* button styles */
button:focus {
  outline: none;
}

.new-note {
  cursor: pointer;
  background-color: white;
  border: 2px solid #4a4e74;
  color: #4a4e74;
  border-radius: 3px;
  height: 50px;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: #4a4e74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1rem;
}
input {
  margin: 10px;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
}

/* page when there is no notes */
.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

/* side bar tab style */
.selected-note {
  background-color: #4a4e74;
}

.text-snippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #4a4e74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-note .text-snippet {
  color: white;
  font-weight: 700;
}

.title {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* delete notes button */
.delete-button {
  background: none;
  border: none;
  display: none;
}
.title:hover > .delete-button {
  display: block;
}

.landingPage {
  background-image: url("background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.authPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginForm {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(150, 150, 150);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before,
.divider::after {
  margin-right: 10px;
}

.divider span {
  font-size: 14px;
  color: #666;
}

form{
  display: flex;
  flex-direction: column;
}