:root{
  --primary-color: white;
  --secondary-color: rgb(45, 45, 145);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}
main {
  width: 100vw;
}

/* split styles */
.gutter {
  background-color: #ebe0e0;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
  width: 100%;
}

/* editor styles */
.editor {
  width: 80%;
  height: 100vh;
}
.sidebar {
  width: 20%;
}

.pane {
  overflow-y: hidden;
  /* padding: 10px; */
}

.quill {
  height: 100%;
}

/* .ql-toolbar{
  position: fixed;
  box-shadow: 5px 5px 5px gray;
} */

/* side bar header styles */
.sidebar--header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

/* button styles */
button:focus {
  outline: none;
}

.new-note {
  cursor: pointer;
  background-color: white;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 3px;
  height: 50px;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1rem;
}
input {
  margin: 10px;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
}

/* page when there is no notes */
.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

/* side bar tab style */
.selected-note {
  background-color: var(--secondary-color);
}

.text-snippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-note .text-snippet {
  color: white;
  font-weight: 700;
}

.title {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* delete notes button */
.delete--button {
  background: none;
  border: none;
  display: none;
  background-color: red;
  padding: 0 3px;
  margin-right: 3px;
}
.title:hover > .delete--button {
  display: block;
}

.landingPage {
  background-image: url("/images/background.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.authPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/images/background.jpg');
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
}
.authForm {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(150, 150, 150);
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--primary-color);
  color: black;
}
.authButton{
  width: 100%;
  margin-bottom: 20px;
}
.authButton--inactive{
  width: 50%;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.authButton--active{
  width: 50%;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before,
.divider::after {
  margin-right: 10px;
}

.divider span {
  font-size: 14px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
}

.google--button{
  width: 100%;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  display: flex;
}

.register{
  font-size: 14px;
  margin: 10px 10px 0 10px;
}
.register > span{
  text-decoration: underline;
  cursor: pointer;
}

.profile--box{
  height: 200px;
  width: 200px;
  border: 1px solid red;
  z-index: 1;
  position: fixed;
}